{% set i3wm = salt.grains.filter_by({
    'default': {
        'pkgs': {
          'i3wm': 'i3-wm',
          'i3blocks': 'i3blocks',
          'i3lock': 'i3lock',
          'dmenu': 'dmenu',
          'dunst': 'dunst',
          'compton': 'picom',
          'rofi': 'rofi',
          'i3status': 'i3status',
          'perl': 'perl',
          'perl-anyevent-i3': 'perl-anyevent-i3',
          'perl-json-xs': 'perl-json-xs'
        },
    },
    'Debian': {
      'pkgs': {
        'i3wm': 'i3-wm',
        'dmenu': 'suckless-tools',
      },
    },
    'RedHat': {
    },
}, grain='os_family', merge=salt.pillar.get('i3wm:overrides'), base='default') %}
